<app-version></app-version>

@if (dialogue$ | async; as dialogue) {
<app-toolbar (onNewNodeClicked)="generateNewNode()"
             (onBackToOriginClicked)="panToOrigin()"
             (onHelpClicked)="showHelpModal()"
             (onLoadClicked)="load()"
             (onSaveClicked)="save()"
             (onExportClicked)="export()"
             (onDialogeNameChange)="changeDialogeName($event)"
             dialogueName="{{dialogue.name}}"></app-toolbar>

<app-canvas></app-canvas>
}

@if (helpModalVisible) {
<app-modal (onClose)="hideAllModals();">
    <app-help-modal></app-help-modal>
</app-modal>
}

<app-notification-panel></app-notification-panel>
<app-context-menu (onNewNode)="generateNewNode($event)"
                  (onNewComment)="generateNewComment($event)"
                  (onNewEventNode)="generateNewEventNode($event)"
                  (onNewConditionNode)="generateNewConditionNode($event)"
                  (onNewRandomNode)="generateNewRandomNode($event)"
                  (onNewRepeatNode)="generateNewRepeatNode($event)"></app-context-menu>

<app-variable-panel></app-variable-panel>
<app-character-panel></app-character-panel>

<pan-zoom [config]="panZoomConfig"
          (contextmenu)="openContextMenu($event)">

    <app-background></app-background>
@if (dialogue$ |async; as dialogue) {


    @for (node of dialogue.nodes; track node.guid) {

        <app-gui-element [guiElement]="node">
            <app-node (onUpdate)="updateNode($event)"
                    (onDelete)="deleteNode($event)"
                    [dialogueNode]="node"></app-node>
        </app-gui-element>
    }


    @for (randomNode of dialogue.randomNodes; track randomNode.guid) {
        <app-gui-element [guiElement]="randomNode">
            <app-random (onUpdate)="updateRandomNode($event)"
                        (onDelete)="deleteRandomNode($event)"
                        [randomNode]="randomNode"></app-random>
        </app-gui-element>
    }


    @for (repeatNode of dialogue.repeatNodes; track repeatNode.guid) {
        <app-gui-element [guiElement]="repeatNode">
            <app-repeat (onUpdate)="updateRepeatNode($event)"
                        (onDelete)="deleteRepeatNode($event)"
                        [repeatNode]="repeatNode"></app-repeat>
        </app-gui-element>
    }

    @for (comment of dialogue.comments; track comment.guid) {
        <app-gui-element [guiElement]="comment">
            <app-comment (onUpdate)="updateComment($event)"
                        (onDelete)="deleteComment($event)"
                        [comment]="comment"></app-comment>
        </app-gui-element>
    }

    @for (event of dialogue.events; track event.guid) {
        <app-gui-element [guiElement]="event">
            <app-event (onUpdate)="updateEventNode($event)"
                    (onDelete)="deleteEventNode($event)"
                    [eventNode]="event"></app-event>
        </app-gui-element>
    }

    @for (condition of dialogue.conditions; track condition.guid) {
        <app-gui-element [guiElement]="condition">
            <app-condition (onUpdate)="updateConditionNode($event)"
                        (onDelete)="deleteConditionNode($event)"
                        [conditionNode]="condition"></app-condition>
        </app-gui-element>
    }
}
</pan-zoom>