<div *ngIf="dialogueNode"
     class="node bg-dark">


    <div class="character-indicator w-100 d-flex justify-content-end align-items-center"
         [style.height]="'25px'"
         [style.background-color]="dialogueNode.character.color">

    </div>

    <div class="d-flex justify-content-between p-1">
        <app-port *ngIf="!dialogueNode.isRoot"
                  [port]="dialogueNode.inPort"></app-port>

        <button *ngIf="!dialogueNode.isRoot"
                (click)="onDelete.emit(dialogueNode)"
                class="btn btn-danger p-0 me-1">
            <svg-icon name="icon_delete"></svg-icon>
        </button>
    </div>

    <div class="content bg-gray d-flex justify-content-between align-items-center p-1">
        <div>
            <h3 class="text-white">Label</h3>
            <input type="text"
                   class="bg-dark text-white p-0"
                   value="{{dialogueNode.label}}"
                   (input)="onLabelInput($event)" />
        </div>

        <div>
            <h3 class="text-white">Character</h3>

            <select class="bg-dark text-white p-0"
                    (input)="onCharacterChange($event)">

                <option *ngFor="let char of characterOptions$ | async; let i = index"
                        value="{{char.guid}}"
                        [selected]="i === selectedCharacterIndex">
                    {{char.name}}
                </option>
            </select>

        </div>
        <button class="btn btn-success"
                (click)="addChoice()">
            <svg-icon name="icon_add"></svg-icon>
            <p>Choice</p>
        </button>
    </div>
    <div class="content bg-gray text-white p-1 d-flex">
        <div class="col-8">
            <h3>Content</h3>
            <textarea class="w-100 bg-dark text-white"
                      cols="15"
                      rows="3"
                      (input)="onContentInput($event)">{{dialogueNode.content}}</textarea>
        </div>
        <div cdkDropList
             (cdkDropListDropped)="cdkChoiceDropped($event)"
             class="col-4 ms-1 d-flex flex-column">
            <h3>Choices</h3>
            <app-choice *ngFor="let choice of dialogueNode.choices"
                        cdkDrag
                        cdkDragData="{{choice.outPort.guid}}"
                        (cdkDragStarted)="cdkChoiceDragStarted($event, choice)"
                        (cdkDragEnded)="cdkChoiceDragEnded($event, choice)"
                        (onDeleteClicked)="deleteChoice(choice)"
                        (onUpdate)="updateChoice($event)"
                        [choice]="choice"></app-choice>
        </div>

    </div>
</div>