.node {
    width: 500px;

    .character-indicator {
        border-radius: 5px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    select {
        width: 150px;
        height: 25px;
    }

   
}
