<div class="bg-dark d-flex justify-content-between">
    <div class="actions">

        <button class="btn btn-success m-1 d-none"
                (click)="onNewNodeClicked.emit()">
            <fa-icon [icon]="iconAdd"></fa-icon>
            <p>Node</p>
        </button>
        <button class="btn btn-warning m-1"
                (click)="onBackToOriginClicked.emit()">
            <p>Origin</p>
        </button>
        <button class="btn btn-dark m-1"
                (click)="onHelpClicked.emit()">
            <fa-icon [icon]="iconHelp"></fa-icon>
        </button>
        <button class="btn btn-primary m-1 "
                (click)="save()">
            <p>Save</p>
        </button>
        <button class="btn btn-primary m-1 "
                (click)="export()">
            <p>Export</p>
        </button>
        <button class="btn btn-primary m-1"
                (click)="load()">
            <p>Load</p>
        </button>
        <button class="btn btn-primary m-1 disabled">
            <p>Settings</p>
        </button>

        <input class="m-1 text-white bg-dark"
               type="text"
               value="{{dialogueName}}"
               (input)="onNameChange($event)" />
    </div>
    <div class="info text-white d-flex flex-column align-items-end justify-content-center">
        <span>Zoom: {{zoom}}</span>
        <span>
            <span>x: {{x}}</span>
            <span> y: {{y}}</span>
        </span>

    </div>

</div>
