.character-panel {
    border-radius: 5px;
    box-shadow: var(--nodeBoxShadow);
    width: inherit;
    height: inherit;
    overflow: auto;
    &:hover {
        box-shadow: var(--nodeBoxShadowHover);
    }

    input:nth-of-type(2) {
        margin-left: 15px;
    }

    button,
    .placeholder {
        margin-left: 15px !important;
    }
    .placeholder {
        width: 50px;
        height: 40px;
        background-color: transparent;
    }
}
