.canv {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: fixed;
    inset: 0;
    margin: auto;
    pointer-events: none;
    background-color: transparent;
    opacity: 0.8;
}

#static {
    z-index: 1;
}

#dynamic {
    z-index: 2;
}
