.character-panel {
    border-radius: 5px;
    box-shadow: var(--nodeBoxShadow);
    width: inherit;
    height: inherit;
    overflow: auto;
    &:hover {
        box-shadow: var(--nodeBoxShadowHover);
    }

    input[type="text"] {
        max-width: 170px;
    }
    
    input[type="color"] {
        width: 37px;
        min-width: 37px;
        margin-left: 15px;
    }

    button,
    .placeholder {
        margin-left: 15px !important;
    }
    .placeholder {
        width: 50px;
        height: 40px;
        background-color: transparent;
    }
}
