<div class="character-modal">
    <div class="d-flex justify-content-betwen align-items-center">

        <h4>Mangage Characters</h4>
        <button class="btn btn-success m-1"
                (click)="generateNew()">
            <svg-icon name="icon_add"></svg-icon>
        </button>
    </div>
    <div *ngFor="let char of characters$|async"
         class="">


        <div class="group d-flex  align-items-center">

            <input class="bg-dark text-white p-1"
                   type="text"
                   name="name"
                   value="{{char.name}}"
                   (input)="updateCharacterName($event, char)">
            <input class="bg-dark text-white p-0"
                   type="color"
                   name="color"
                   value="{{char.color}}"
                   (input)="updateCharacterColor($event, char)">

            <div *ngIf="char.isDefault"
                 class="placeholder"></div>

            <button *ngIf="!char.isDefault"
                    class="btn btn-danger m-1"
                    (click)="removeCharacter(char)">
                <svg-icon name="icon_delete"></svg-icon>
            </button>
        </div>
    </div>

</div>