<app-toolbar (onNewNodeClicked)="generateNewNode()"
             (onBackToOriginClicked)="panToOrigin()"
             (onHelpClicked)="showHelpModal()"
             (onSaveClicked)="save()"></app-toolbar>

<app-canvas></app-canvas>


<app-modal *ngIf="helpModalVisible"
           (onClose)="hideAllModals();">
    <app-help-modal></app-help-modal>
</app-modal>

<app-context-menu (onNewNode)="generateNewNode($event)"
                  (onNewComment)="generateNewComment($event)"
                  (onNewEventNode)="generateNewEventNode($event)"
                  (onNewConditionNode)="generateNewConditionNode($event)"></app-context-menu>

<app-variable-panel></app-variable-panel>
<app-character-panel></app-character-panel>

<pan-zoom [config]="panZoomConfig"
          (contextmenu)="openContextMenu($event)">

    <app-background></app-background>
    <app-node *ngFor="let node of dialogue.nodes"
              (onUpdate)="updateNode($event)"
              (onDelete)="deleteNode($event)"
              [dialogueNode]="node"></app-node>

    <app-comment *ngFor="let comment of dialogue.comments"
                 (onUpdate)="updateComment($event)"
                 (onDelete)="deleteComment($event)"
                 [comment]="comment"></app-comment>

    <app-event *ngFor="let event of dialogue.events"
               (onUpdate)="updateEventNode($event)"
               (onDelete)="deleteEventNode($event)"
               [eventNode]="event"></app-event>

    <app-condition *ngFor="let condition of dialogue.conditions"
                   (onUpdate)="updateConditionNode($event)"
                   (onDelete)="deleteConditionNode($event)"
                   [conditionNode]="condition"></app-condition>

</pan-zoom>