<div *ngIf="conditionNode"
     [formGroup]="formGroup"
     class="conditionNode {{errorMessage !== '' ? 'warning': ''}}">

    <div class="warn-message bg-danger text-white text-center">{{errorMessage}}</div>

    <div class="bg-info d-flex justify-content-between p-1">
        <app-port [port]="conditionNode.inPort"></app-port>

        <h4>Condition</h4>
        <button (click)="onDelete.emit(conditionNode)"
                class="btn btn-danger p-0 me-1">
            <svg-icon name="icon_delete"></svg-icon>
        </button>
    </div>

    <div class="content text-white p-1">

        <select class="m-1 bg-dark text-white p-0"
                id="var"
                name="var"
                formControlName="{{guidFieldName}}">
            <option *ngFor="let variable of variables$ | async; let i = index;"
                    value="{{variable.guid}}"
                    [selected]="false">
                {{variable.name}}
            </option>
        </select>

        <select class="m-1 bg-dark text-white p-0"
                id="type"
                name="type"
                formControlName="{{conditionFieldName}}">
            <option *ngFor="let enum of conditionTypes | keyvalue"
                    value="{{enum.key}}">
                {{enum.value}}
            </option>
        </select>

        <input type="text"
               formControlName="{{valueFieldName}}"
               class="m-1 bg-dark text-white p-0 {{isBooleanCondition() ? 'd-none' :''}}" />
        <app-port [port]="conditionNode.outPort"></app-port>
    </div>


</div>