<div *ngIf="conditionNode && formGroup"
     [formGroup]="formGroup"
     class="condition-node {{errorMessage !== '' ? 'warning': ''}}">

    <div class="warn-message bg-danger text-white text-center">{{errorMessage}}</div>

    <div class="color-indicator d-flex justify-content-between p-1">
        <app-port [port]="conditionNode.inPort"
                  (onUpdate)="updateInPort($event)"></app-port>

        <h3>Condition</h3>
        <button (click)="onDelete.emit(conditionNode)"
                class="btn btn-danger p-0 me-1">
            <svg-icon name="icon_delete"></svg-icon>
        </button>
    </div>

    <div class="content text-white p-1">

        <select class="m-1 bg-dark text-white p-0"
                id="var"
                name="var"
                formControlName="{{guidFieldName}}">
            <option *ngFor="let variable of variables$ | async; let i = index;"
                    value="{{variable.guid}}"
                    [selected]="false">
                {{variable.name}}
            </option>
        </select>

        <select class="m-1 bg-dark text-white p-0"
                id="type"
                name="type"
                formControlName="{{conditionFieldName}}">
            <option *ngFor="let enum of conditionTypes | keyvalue"
                    [selected]="enum.key == conditionNode.type"
                    value="{{enum.key}}">
                {{getConditionTypeLabel(enum.value)}}
            </option>
        </select>

        <input type="text"
               formControlName="{{valueFieldName}}"
               class="m-1 bg-dark text-white p-0 {{isBooleanCondition() ? 'd-none' :''}}" />
        <div class="d-flex flex-column">

            <app-port [port]="conditionNode.outPortMatches"
                      [labelOverride]="'True'"
                      (onUpdate)="updateOutPortMatches($event)"></app-port>
            <app-port [port]="conditionNode.outPortFails"
                      [labelOverride]="'False'"
                      (onUpdate)="updateOutPortFails($event)"></app-port>
        </div>
    </div>


</div>