.conditionNode {
    min-width: 300px;
    position: absolute;
    border-radius: 5px;
    box-shadow: var(--nodeBoxShadow);

    &.warning {
        outline: 5px solid red;
    }
    &:hover {
        box-shadow: var(--nodeBoxShadowHover);
    }

    .content {
        background-color: var(--colorDark);
        display: flex;

        select {
            width: fit-content;
        }
    }
}
