.condition-node {

    &.warning {
        outline: 5px solid var(--colorError);
    }
    &:hover {
        box-shadow: var(--nodeBoxShadowHover);
    }

    .content {
        display: flex;

        select {
            width: fit-content;
            height: 100%;
        }
    }
}
