<app-resizable [height]="200"
               [width]="300"
               [fitWidth]="true"
               [fitHeight]="true"
               [left]="5"
               [top]="55">

    <div class="panel bg-dark p-2">
        <div class="d-flex align-items-center justify-content-betwen">

            <h4 class="text-light">Variables</h4>
            <button class="btn btn-success m-1"
                    (click)="generateVariable()">
                <svg-icon name="icon_add"></svg-icon>
            </button>
        </div>

        <div class="p-2">
            <!--
            <div class="head text-white d-flex p-2 mb-2">
                <span>Name</span>
            
                 <span style="margin-left: 34px;">Value</span>
                <span style="margin-left: 59px;">Type</span>
            </div>
 -->
            <div class="list"
                 cdkDropList
                 (cdkDropListDropped)="cdkVariableDropped($event)">

                <app-variable cdkDrag
                              class="mb-2"
                              *ngFor="let variable of variables$ | async"
                              (onUpdateVariable)="updateVariable($event)"
                              (onDeleteVariable)="deleteVariable($event)"
                              [variable]="variable"></app-variable>
            </div>
        </div>
    </div>
</app-resizable>