<div class="menu text-white p-1"
     [style.left]="left"
     [style.top]="top"
     *ngIf="visible">

    <div class="select bg-dark border-bottom">
        <div class="title p-1">New <span class="icon"><svg-icon name="icon_chevron_right"></svg-icon></span></div>
        <div class="option-list bg-dark ">
            <div class="option border-bottom p-1"
                 (click)="newNode($event)">
                Node
            </div>
            <div class="option border-bottom p-1"
                 (click)="newEventNode($event)">
                Event
            </div>
        </div>
    </div>

    <div class="select bg-dark border-bottom">
        <div class="title p-1">Add <span class="icon"><svg-icon name="icon_chevron_right"></svg-icon></span></div>
        <div class="option-list bg-dark ">
            <div class="option border-bottom p-1"
                 (click)="newComment($event)">
                Comment
            </div>
        </div>
    </div>

</div>