@if (formGroup) {
<div class="d-flex align-items-center">


    <span [formGroup]="formGroup">
        <input type="text"
               class="w-100 bg-dark me-1 text-white {{ !!variableInputErrors ? 'invalid' : '' }}"
               value="{{variable.name}}"
               formControlName="{{variableControlName}}"
               (input)="updateVariableName($event)" />

    </span>

    <select class="bg-dark me-1 text-white"
            (input)="updateVariableType($event)">
        @for (enum of variableTypes | keyvalue; track $index) {
            <option [selected]="enum.key == variable.type">
                {{enum.key}}
            </option>
        }
    </select>


    <button class="btn btn-danger p-0 me-1"
            (click)="onDeleteVariable.emit(variable);">
        <svg-icon name="icon_delete"></svg-icon>
    </button>

</div>
}