@import "~bootstrap/dist/css/bootstrap.css";
@import "./fonts.scss";

:root {
    --colorWhite: rgb(229 229 229);
    --colorDark: #333;
    --colorError: #dc3545;

    --colorRepeatNode: #bfa730;
    --colorRandomNode: #3cb96c;
    --colorConditionNode: #49b9b4;
    --colorEventNode: #d55223;

    --fontSizeSM: 16px;
    --fontSizeMD: 20px;
    --fontSizeL: 24px;
    --fontSizeXL: 28px;

    --portColor: #0a58ca;
    --portColorHover: #307ae7;
    --portClickableFilter: saturate(1.5);
    --portUnclickableFilter: saturate(0.5) brightness(0.5);
    --portSelectedFilter: saturate(2);

    --nodeBoxShadow: 0px 0px 1px 2px #24416c;
    --nodeBoxShadowHover: 0px 0px 1px 3px #428eff;

    --contextMenuBackground: #333;
    --contextMenuBoxShadow: 0px 0px 1px 2px #24416c;
    --contextMenuSelectHover: #24416c;
    --contextMenuOptionHover: #24416c;

    --inputBoxShadow: 0px 0px 0px 1px rgb(168, 168, 168);
    --inputBoxShadowError: 0px 0px 0px 1px var(--colorError);

    --textShadow: 0px 1px 4px var(--colorDark);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--colorDark);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

app-editor,
app-root,
body {
    width: 100vw;
    height: 100vh;
    background-size: cover 10%;
    font-family: "Roboto";
    font-weight: 400;
    color: var(--colorWhite);
}

h1 {
    font-size: var(--fontSizeXL);
}

h2 {
    font-size: var(--fontSizeL);
}

h3 {
    font-size: var(--fontSizeMD);
}

h1,
h2,
h3,
app-port p {
    font-weight: bold;
    text-shadow: var(--textShadow);
}

p,
textarea,
input,
select {
    font-size: var(--fontSizeSM);
}
h1,
h2,
h3,
h4,
p,
textarea,
input,
select {
    margin: 0;
    line-height: var(--bs-body-line-height);
}

svg-icon {
    fill: var(--colorWhite);
    color: var(--colorWhite);
}

app-toolbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    width: 100%;
    z-index: 10;
}

.text-white {
    color: var(--colorWhite) !important;
}

.bg-gray {
    background-color: var(--colorDark);
}

.btn-success {
    display: inline-flex;
    align-items: center;
}

[class*="node"] {
    min-width: 300px;
    position: absolute;
    z-index: 0;
    border-radius: 5px;
    .content {
        background-color: var(--colorDark);
        border-radius: 5px;
    }

    box-shadow: var(--nodeBoxShadow);
    &:hover {
        box-shadow: var(--nodeBoxShadowHover);
    }
}

.btn-port {
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--portColor);
    border-radius: 100%;

    &:hover {
        background-color: var(--portColorHover);
    }
}
input:not(input[type="color"]) {
    height: fit-content;
}

input,
textarea,
select {
    border: none;
    border-radius: 5px;
    box-shadow: var(--inputBoxShadow);

    &.invalid {
        box-shadow: var(--inputBoxShadowError);
        outline: none;
    }
}

.cdk-drag {
    will-change: transform;
}

.cdk-drag-placeholder {
    filter: brightness(0.5);
}

.cdk-drag-preview {
    filter: brightness(1.5);
}
