<div class="boundary">
    <div cdkDrag
         cdkDragBoundary=".boundary"
         class="resizable-draggable"
         [style.width.px]="width"
         [style.height.px]="height"
         [style.top.px]="top"
         [style.left.px]="left">

        <div class="drag-handle"
             cdkDragHandle>
            <svg-icon name="icon_drag_move"></svg-icon>
        </div>
        <div class="content">
            <ng-content></ng-content>
        </div>

        <div class="resizer"
             (dragstart)="resizeStart($event)"
             (drag)="resize($event)"
             (dragend)="resizeEnd($event)">
        </div>
    </div>
</div>