.boundary {
    position: fixed;
    z-index: 1;
    //background-color: rgba(255, 0, 0, 0.39);
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    margin-top: 51px; //toolbaar
    *{
        user-select: none;
    }

    .content {
        user-select: none;
        width: inherit;
        height: inherit;
    }

    .drag-handle {
        position: absolute;
        z-index: 9;
        width: 30px;
        height: 30px;
        cursor: move;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
    }

    .resizable-draggable {
        display: block;
        width: fit-content;
        height: fit-content;
        position: fixed;
        z-index: 3;
        pointer-events: all;

        .resizer {
            background-color: red;
            user-select: all;
            z-index: 9;
            position: absolute;
            right: 0;
            bottom: 0;
            height: 20px;
            width: 20px;
            border-radius: 5px;
            filter: invert(1);

            &:hover {
                cursor: se-resize;
            }
        }
    }
}
