@if (visible) {

<div class="menu text-white p-1"
     [style.left]="left"
     [style.top]="top">

  <div class="select bg-dark border-bottom">
    <div class="title p-1">New <span class="icon"><fa-icon [icon]="iconChevronRight"></fa-icon></span></div>
    <div class="option-list bg-dark ">
      <div class="option border-bottom p-1"
           (click)="newNode($event)">
        Node
      </div>
      <div class="option border-bottom p-1"
           (click)="newEventNode($event)">
        Event
      </div>
      <div class="option border-bottom p-1"
           (click)="newConditionNode($event)">
        Condition
      </div>
      <div class="option border-bottom p-1"
           (click)="newRandomNode($event)">
        Random node
      </div>
      <div class="option border-bottom p-1"
           (click)="newRepeatNode($event)">
        Repeat node
      </div>
    </div>
  </div>

  <div class="select bg-dark border-bottom">
    <div class="title p-1">Add <span class="icon"><fa-icon [icon]="iconChevronRight"></fa-icon></span></div>
    <div class="option-list bg-dark ">
      <div class="option border-bottom p-1"
           (click)="newComment($event)">
        Comment
      </div>
    </div>
  </div>

</div>
}
